@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
     margin:0px;
     padding:0px;
     box-sizing:border-box;
     font-family:'Poppins', sans-serif;

}


body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b1522
    
}


.heart{
    height: 70px;
    width: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;

}

@keyframes heart{
    0%{
        transform: rotate(-45deg)scale(1.07);
    }
   80% {
        transform: rotate(-45deg)scale(1.0);
    }
   100%{
        transform: rotate(-45deg)scale(0.8);
    }
}

.heart:before{
    content : '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}

.heart:after{
    content : '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

h2{
    font-size: 3em;
    font-weight: 500;
    color: #f1efef;
    letter-spacing: 5px;
    margin-left: 100px;
    text-align: center;
    
}

div{
    bottom: 200px;
    left:670px;
}


button{
    --glow-color:#f20044;
    --glow-spread-color:#0b1522;
    --enhance-glow-color:#0b1522;
    --btn-color:rgb(255, 255, 255);

    border: 0.25em solid var(--glow-color);
    padding:1em 3em;
    color:rgb(243, 235, 235);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color); 
    position: relative;
    transition:all 0.3s;
    top: 400px;
    right:690px;
    
}


button::after{
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 90%;
    width: 90%;
    background-color: var(--glow-spread-color);
    filter:blur(2em);
    opacity:0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1,0.6);
}

button:hover{
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
}

button:active{
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}